body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

input {
  display: block;
  margin: 10px auto;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

#autocomplete {
  /*margin: 0 auto;*/
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  font-family: 'Helvetica', sans-serif;
  font-size: 1.2rem;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
/*.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}*/
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
